<ul>
  <li><a href="/quiz">Main Page</a></li>
  <li><a href="/quiz/results">Results</a></li>
  <li><a href="/quiz/users">Quiz Users</a></li>
  <li><a href=""></a></li>
</ul>
<a href="/quiz">< Main</a><a href="/quiz/{{content.question.quizId}}">< Quiz</a>

<br><img src=" {{content.question.image}} "  height="200" width="200">

<h5>Edit question</h5>
{% if content.question.multichoice == 1 %}
	{% set checked = 'checked' %}
{% else %}
	{% set checked = '' %}
{% endif %}

<form {{content.editForm.attributes }} method="post">
	{{ content.editForm.form_build_id }}
	{{ content.editForm.form_token }}
	{{ content.editForm.form_id }}
	{{ content.editForm.subject }}
	{{ content.editForm.message }}
	<div>
	  <textarea data-drupal-selector="edit-body" id="edit-body--2" name="body" rows="5" cols="60" placeholder="Question?" class="form-textarea required" required="required" aria-required="true">{{content.question.body}}</textarea>
	</div>
	<div class="form-item js-form-type-checkbox form-type-checkbox form-item-multichoice">        
	<input data-drupal-selector="edit-multichoice" type="checkbox" id="edit-multichoice" name="multichoice" value="" class="form-checkbox" {{checked}}>
	<label for="edit-multichoice" class="option">Multichoice</label>
	</div>
	<div class="form-item js-form-type-textfield form-type-textfield form-item-quizid form-no-label">
	<input data-drupal-selector="edit-id" type="text" id="edit-id" name="id" value="{{content.question.id}}" size="60" maxlength="128" placeholder="id" class="form-text required" required="required" aria-required="true" style="display:none;">
	{{ content.editForm.actions.submit }}
</form>







<div class="row">
	<div class="col-sm-6">
		<h5>Change the correct answer</h5>
		{% if content.question.multichoice == 1 %}
			{% for answer in content.answers %}
			<form {{content.answerStatusMultiForm.attributes }} method="post">
				{{ content.answerStatusMultiForm.form_build_id }}
				{{ content.answerStatusMultiForm.form_token }}
				{{ content.answerStatusMultiForm.form_id }}
				{{ content.answerStatusMultiForm.subject }}
				{{ content.answerStatusMultiForm.message }}
				{{ content.answerStatusMultiForm.body }}
				<input data-drupal-selector="edit-questionid" type="text" id="edit-questionid" name="questionId" value="{{content.question.id}}" size="60" maxlength="128" placeholder="questionId" class="form-text required" required="required" aria-required="true" style="display:none;">
				<input data-drupal-selector="edit-answerid" type="text" id="edit-answerid" name="answerId" value="{{answer.id}}" size="60" maxlength="128" placeholder="answerId" class="form-text required" required="required" aria-required="true" style="display:none;">
				{{ content.answerStatusMultiForm.actions.submit }}
				{% if answer.status %}
					<span class="glyphicon glyphicon-ok"  style="color:green;"></span>
				{% else %}
					<span class="glyphicon glyphicon-remove"  style="color:red;"></span>
				{% endif %}
				{{answer.body}} <br>
			</form>	
			{% endfor %}	
		{% else %}
			<form {{content.answerStatusForm.attributes }} method="post">
				{{ content.answerStatusForm.form_build_id }}
				{{ content.answerStatusForm.form_token }}
				{{ content.answerStatusForm.form_id }}
				{{ content.answerStatusForm.subject }}
				{{ content.answerStatusForm.message }}
				{{ content.answerStatusForm.body }}
				<input data-drupal-selector="edit-questionid" type="text" id="edit-questionid--3" name="questionId" value="{{content.question.id}}" size="60" maxlength="128" placeholder="questionId" class="form-text required" required="required" aria-required="true" style="display:none;">
				{% for answer in content.answers %}
				    {% if answer.status %}
				    	<input data-drupal-selector="edit-answerid-44" type="radio" id="edit-answerid-44" name="answerId" value="{{answer.id}}" class="form-radio" checked>
				    {% else %}
				    	<input data-drupal-selector="edit-answerid-44" type="radio" id="edit-answerid-44" name="answerId" value="{{answer.id}}" class="form-radio">
				    {% endif %}
					

					{{answer.body}} <br>

				{% endfor %}	
				{{ content.answerStatusForm.actions.submit }}
			</form>
		{% endif %}
	</div>
	<div class="col-sm-6">
		<h5>Delete answer</h5>
		{% for answer in content.answers %}
		    
			<form {{content.deleteForm.attributes }} method="post">
				{{ content.deleteForm.form_build_id }}
				{{ content.deleteForm.form_token }}
				{{ content.deleteForm.form_id }}
				{{ content.deleteForm.subject }}
				{{ content.deleteForm.message }}
				<input data-drupal-selector="edit-answerid" type="text" id="edit-answerid" name="answerId" value="{{answer.id}}" size="60" maxlength="128" placeholder="answerId" class="form-text required" required="required" aria-required="true" style="display:none;">
				<input data-drupal-selector="edit-questionid" type="text" id="edit-questionid--2" name="questionId" value="{{content.question.id}}" size="60" maxlength="128" placeholder="questionId" class="form-text required" required="required" aria-required="true" style="display:none;">

				{% if answer.status %}
					<input data-drupal-selector="edit-status-1-2" type="radio" id="edit-status-1--2" name="status" value="1" class="form-radio" checked style="display:none;"> 
				{% else %}
					<input data-drupal-selector="edit-status-0-2" type="radio" id="edit-status-0--2" name="status" value="0" class="form-radio" checked style="display:none;">
				{% endif %}

				{{ content.deleteForm.actions.submit }}
			</form>
		{% endfor %}
	</div>
</div>





<h5>Add answer</h5>
<form {{content.form.attributes }} method="post">
	{{ content.form.form_build_id }}
	{{ content.form.form_token }}
	{{ content.form.form_id }}
	{{ content.form.subject }}
	{{ content.form.message }}
	{{ content.form.body }}
	{% if content.answers | length > 0 %}
		<input data-drupal-selector="edit-status-0" type="radio" id="edit-status-0" name="status" value="0" class="form-radio" checked style="display:none;"> 
	{% else %}
		<input data-drupal-selector="edit-status-1" type="radio" id="edit-status-1" name="status" value="1" class="form-radio" checked style="display:none;"> 
	{% endif %}
	<input data-drupal-selector="edit-questionid" type="text" id="edit-questionid" name="questionId" value="{{content.question.id}}" size="60" maxlength="128" placeholder="questionId" class="form-text required" required="required" aria-required="true" style="display:none;">
	{{ content.form.actions.submit }}
</form>




  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
