

<h6>Users</h6>
<table class="table table-striped">
	<thead>
      <tr>
        <th>Name</th>
        <th>Uniq</th>
        <th>Password</th>
        <th>status</th>        
      </tr>
    </thead>
    <tbody>
		{% for user in content.users %}
	      <tr>
	        <td><a href="/quiz/user/{{user.id}}">{{user.name}}</a></td>
	        <td>{{user.uniq}}</td>
	        <td>{{user.password}}</td>
	        <td>{% if user.status %}Active{% else %}Inactive{% endif %} </td>
          <td>
                <form {{content.deleteUserForm.attributes }} method="post">
                    {{ content.deleteUserForm.form_build_id }}
                    {{ content.deleteUserForm.form_token }}
                    {{ content.deleteUserForm.form_id }}
                    {{ content.deleteUserForm.subject }}
                    {{ content.deleteUserForm.message }}
                    <input data-drupal-selector="edit-id" type="text" id="edit-id" name="id" value="{{user.id}}" size="60" maxlength="128" placeholder="id" class="form-text required" required="required" aria-required="true" style="display:none;">
                    {{ content.deleteUserForm.actions.submit }}
                </form>
          </td>
	      </tr>		    
		{% endfor %}
    </tbody>
</table>

<h6>Add User</h6>

{{content.form}}