

<a href="/quiz">< {{'Main'|trans}}</a><br><br>


{% if content.quiz.image %}
	<br><img src="{{content.quiz.image}}"  height="420" width="420">
{% endif %}

<form {{content.editQuizForm.attributes }} method="post" enctype="multipart/form-data">
	{{ content.editQuizForm.form_build_id }}
	{{ content.editQuizForm.form_token }}
	{{ content.editQuizForm.form_id }}
	{{ content.editQuizForm.subject }}
	{{ content.editQuizForm.message }}
	{{ content.editQuizForm.image }}	
	<input data-drupal-selector="edit-title" type="text" id="edit-title" name="title" value="{{content.quiz.title}}" size="60" maxlength="128" placeholder="{{ 'Title'|trans }}" class="form-text required" required="required" aria-required="true">
	<textarea data-drupal-selector="edit-body" id="edit-body--2" name="body" rows="5" cols="60" placeholder="{{'Quiz Description'|trans}}" class="form-textarea required" required="required" aria-required="true">{{content.quiz.body}}</textarea>
	<input data-drupal-selector="edit-seccess" type="text" id="edit-seccess" name="seccess" value="{{content.quiz.seccess}}" size="60" maxlength="128" placeholder="{{ 'Success'|trans }} %" class="form-text required" required="required" aria-required="true">

	<div class="form-item js-form-type-checkbox form-type-checkbox form-item-send-email">
		{% if content.quiz.send_email %}
			<input data-drupal-selector="edit-send-email" type="checkbox" id="edit-send-email" name="send_email" value="1" class="form-checkbox" checked>
		{% else %}
			<input data-drupal-selector="edit-send-email" type="checkbox" id="edit-send-email" name="send_email" value="1" class="form-checkbox" >
		{% endif %}		
		
		<label for="edit-send-email" class="option">{{ 'Send result by email'|trans }}</label>
	</div>

	<div class="form-item js-form-type-checkbox form-type-checkbox form-item-show-result">
		{% if content.quiz.showResult %}
			<input data-drupal-selector="edit-show-result" type="checkbox" id="edit-show-result" name="show_result" value="1" class="form-checkbox" checked>
		{% else %}
			<input data-drupal-selector="edit-show-result" type="checkbox" id="edit-show-result" name="show_result" value="1" class="form-checkbox" >
		{% endif %}		
		<label for="edit-show-result" class="option">{{ 'Show result after quiz'|trans }}</label>
	</div>		
	<input data-drupal-selector="edit-id" type="text" id="edit-id--2" name="id" value="{{content.quiz.id}}" size="60" maxlength="128" placeholder="id" class="form-text required" required="required" aria-required="true" style="display:none;">
	{{ content.editQuizForm.actions.submit }}
</form>



 <br>
<h5>{{ 'Questions'|trans }}:</h5>
{% set i = 1 %}
{% for question in content.questions %}
    {{i}}: <a href="question/{{question.id}}"> {{question.body}} </a>
	<form {{content.deleteForm.attributes }} method="post">
		{{ content.deleteForm.form_build_id }}
		{{ content.deleteForm.form_token }}
		{{ content.deleteForm.form_id }}
		{{ content.deleteForm.subject }}
		{{ content.deleteForm.message }}
		<input data-drupal-selector="edit-questionid" type="text" id="edit-questionid" name="questionId" value="{{question.id}}" size="60" maxlength="128" placeholder="questionId" class="form-text required" required="required" aria-required="true" style="display:none;">
		<input data-drupal-selector="edit-quizid" type="text" id="edit-quizid--2" name="quizId" value="{{content.quiz.id}}" size="60" maxlength="128" placeholder="quizId" class="form-text required" required="required" aria-required="true" style="display:none;">
		{{ content.deleteForm.actions.submit }}
	</form>
    {% set i = i + 1 %}
{% endfor %}



<h5>{{ 'Add question'|trans }}</h5>
{{content.form}}
