<ul>
  <li><a href="/quiz">Main Page</a></li>
  <li><a href="/quiz/results">Results</a></li>
  <li><a href="/quiz/users">Quiz Users</a></li>
  <li><a href=""></a></li>
</ul>



<h6>Users</h6>
<table class="table table-striped">
	<thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>status</th>        
      </tr>
    </thead>
    <tbody>
		{% for user in content.users %}
	      <tr>
	        <td><a href="/quiz/user/{{user.id}}">{{user.name}}</a></td>
	        <td>{{user.email}}</td>
	        <td>{{user.password}}</td>
	        <td>{{user.status}}</td>
	      </tr>		    
		{% endfor %}
    </tbody>
</table>

<h6>Add User</h6>

{{content.form}}