<ul>
  <li><a href="/quiz">Main Page</a></li>
  <li><a href="/quiz/results">Results</a></li>
  <li><a href="/quiz/users">Quiz Users</a></li>
  <li><a href=""></a></li>
</ul>



{% if content.quiz.image %}
	<img src="{{content.quiz.image}}"  height="420" width="420">
{% endif %}
<h4>{{content.quiz.title}}</h4> 
{{content.quiz.body}} <br>
<h5>Questions:</h5>
{% set i = 1 %}
{% for question in content.questions %}
    {{i}}: <a href="question/{{question.id}}"> {{question.body}} </a>
	<form {{content.deleteForm.attributes }} method="post">
		{{ content.deleteForm.form_build_id }}
		{{ content.deleteForm.form_token }}
		{{ content.deleteForm.form_id }}
		{{ content.deleteForm.subject }}
		{{ content.deleteForm.message }}
		<input data-drupal-selector="edit-questionid" type="text" id="edit-questionid" name="questionId" value="{{question.id}}" size="60" maxlength="128" placeholder="questionId" class="form-text required" required="required" aria-required="true" style="display:none;">
		<input data-drupal-selector="edit-quizid" type="text" id="edit-quizid--2" name="quizId" value="{{content.quiz.id}}" size="60" maxlength="128" placeholder="quizId" class="form-text required" required="required" aria-required="true" style="display:none;">
		{{ content.deleteForm.actions.submit }}
	</form>
    {% set i = i + 1 %}
{% endfor %}



<h5>Add question</h5>
<form {{content.form.attributes }}class="addquestion" data-drupal-selector="addquestion" enctype="multipart/form-data" action="/quiz/7" method="post" id="addquestion" accept-charset="UTF-8">
	{{ content.form.form_build_id }}
	{{ content.form.form_token }}
	{{ content.form.form_id }}
	{{ content.form.subject }}
	{{ content.form.message }}
	{{ content.form.image }}
	{{ content.form.body }}
	{{ content.form.multichoice }}
	<input data-drupal-selector="edit-quizid" type="text" id="edit-quizid" name="quizId" value="{{content.quiz.id}}" size="60" maxlength="128" placeholder="quizId" class="form-text required hidden" required="required" aria-required="true" style="display:none;">
	{{ content.form.actions.submit }}
</form>
