

<a href="/quiz">< Main</a><br><br>

<form {{content.showResultForm.attributes }} method="post">
	{{ content.showResultForm.form_build_id }}
	{{ content.showResultForm.form_token }}
	{{ content.showResultForm.form_id }}
	{{ content.showResultForm.subject }}
	{{ content.showResultForm.message }}
	<input data-drupal-selector="edit-id" type="text" id="edit-id" name="id" value="{{content.quiz.id}}" size="60" maxlength="128" placeholder="quizId" class="form-text required" required="required" aria-required="true" style="display:none;">
	
	{{ content.showResultForm.actions.submit }}
</form>
{% if content.quiz.showResult %}
The result is visible to user 
{% else %}
The result is hidden to user
{% endif %}



{% if content.quiz.image %}
	<br><img src="{{content.quiz.image}}"  height="420" width="420">
{% endif %}

<form {{content.editQuizForm.attributes }} method="post" enctype="multipart/form-data">
	{{ content.editQuizForm.form_build_id }}
	{{ content.editQuizForm.form_token }}
	{{ content.editQuizForm.form_id }}
	{{ content.editQuizForm.subject }}
	{{ content.editQuizForm.message }}
	{{ content.editQuizForm.image }}
	<input data-drupal-selector="edit-title" type="text" id="edit-title" name="title" value="{{content.quiz.title}}" size="60" maxlength="128" placeholder="Title" class="form-text required" required="required" aria-required="true">
	<textarea data-drupal-selector="edit-body" id="edit-body--2" name="body" rows="5" cols="60" placeholder="Quiz Description" class="form-textarea required" required="required" aria-required="true">{{content.quiz.body}}</textarea>
	<input data-drupal-selector="edit-id" type="text" id="edit-id--2" name="id" value="{{content.quiz.id}}" size="60" maxlength="128" placeholder="id" class="form-text required" required="required" aria-required="true" style="display:none;">
	{{ content.editQuizForm.actions.submit }}
</form>



 <br>
<h5>Questions:</h5>
{% set i = 1 %}
{% for question in content.questions %}
    {{i}}: <a href="question/{{question.id}}"> {{question.body}} </a>
	<form {{content.deleteForm.attributes }} method="post">
		{{ content.deleteForm.form_build_id }}
		{{ content.deleteForm.form_token }}
		{{ content.deleteForm.form_id }}
		{{ content.deleteForm.subject }}
		{{ content.deleteForm.message }}
		<input data-drupal-selector="edit-questionid" type="text" id="edit-questionid" name="questionId" value="{{question.id}}" size="60" maxlength="128" placeholder="questionId" class="form-text required" required="required" aria-required="true" style="display:none;">
		<input data-drupal-selector="edit-quizid" type="text" id="edit-quizid--2" name="quizId" value="{{content.quiz.id}}" size="60" maxlength="128" placeholder="quizId" class="form-text required" required="required" aria-required="true" style="display:none;">
		{{ content.deleteForm.actions.submit }}
	</form>
    {% set i = i + 1 %}
{% endfor %}



<h5>Add question</h5>
<form {{content.form.attributes }}class="addquestion" data-drupal-selector="addquestion" enctype="multipart/form-data" action="/quiz/7" method="post" id="addquestion" accept-charset="UTF-8">
	{{ content.form.form_build_id }}
	{{ content.form.form_token }}
	{{ content.form.form_id }}
	{{ content.form.subject }}
	{{ content.form.message }}
	{{ content.form.image }}
	{{ content.form.body }}
	{{ content.form.multichoice }}
	<input data-drupal-selector="edit-quizid" type="text" id="edit-quizid" name="quizId" value="{{content.quiz.id}}" size="60" maxlength="128" placeholder="quizId" class="form-text required hidden" required="required" aria-required="true" style="display:none;">
	{{ content.form.actions.submit }}
</form>
