

{{'Name'|trans}}: {{content.try.user.name}}
<br>
{{'Quiz Title'|trans}}: {{content.try.quizTitle}}
<br>
Quiz {{'Score'|trans}}: {{content.try.score}} %
<br>
Details:

{% for i in range(0, (content.results | length - 3)) %}
    <br> Q{{i + 1}}. {{content.results[i].question}}?
    <div class="row">
    	<div class="col-sm-6">
            {% if content.results[i].score > -1 %}
    		  {{'User Answers'|trans}}:<br>
            {% endif %}
    		{% for answer in content.results[i].userAnswers %}
    		    {{answer.body}}<br>
    		{% endfor %}
    	</div>
    	<div class="col-sm-6">
    		{{'Correct Answers'|trans}}:<br>
    		{% for answer in content.results[i].correctAnswers %}
    		    {{answer.body}}<br>
    		{% endfor %}
    	</div>
    </div>
    {% if content.results[i].score > -1 %}
        {{'Score'|trans}}: {{content.results[i].score}}<br>
    {% endif %}
{% endfor %}


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>