<table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Quiz Title</th>
        <th>Score %</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
    {% for try in content.tries %}
      
      <tr>
            <td><a href="/quiz/user/{{try.user.id}} ">{{try.user.name}}</a></td>
            <td><a href="/quiz/result/{{try.id}}"> {{try.quizTitle}} </a></td>
            <td>{{try.score}}</td>
            <td>{{try.date}}</td>
        </tr>

    {% endfor %}

    </tbody>
</table>
