{% if content.user.name == null %}
	{{content.loginForm}}

{% else %}
	<h5> {{'Choose'|trans}} quiz </h5>
	<a href="/userquiz/logout">{{'Logout'|trans}}</a><br>
	{% for quiz in content.userQuizes %}
		<a href="/startquiz/{{quiz.id}}"> {{quiz.title}} </a><br>
	{% endfor %}
{% endif %}


{#
<h3 style="text-align: center;">{{'Webbkursen är under uppdatering. Välkommen åter!'|trans}}</h3>#}